

/* Variables de colores para usar tema claro */

:root {
    /*Colores RGB*/
  --color-principal: rgb(16, 46, 74);
  --color-secundario: rgb(247, 37, 133);
  --color-verdegris: rgb(137, 168, 148);
  --color-grad2: rgb(181, 255, 225);


  /*RGB pero ahora con transparencia*/
  --color-blancotransparente: rgba(255,255,255, 0.15);
  --color-negrotransparente: rgba(0,0,0,0.15);

  /*Colores con OKLCH*/
  --color-fondo: oklch(98% 0.01 90);
  --color-fondo2: oklch(94% 0.02 90);
  --color-textos: oklch(25% 0.04 250);
  --color-blanco: oklch(100% 0 0);

  /*EXTRAS*/

  --sombra: 0 8px 25xp rgba(0,0,0,0.15);
  --radio: 15px;

}

/* Dar formato base a la web, como un reset */

* {

padding: 0px;
margin: 0px;
box-sizing: border-box;
}






body {
    min-height: 100vh; 
    font-family: "Montserrat", sans-serif;
}


body {
    background-color: var(--color-fondo);
    color: var(--color-textos);

}




.cabecera {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--color-principal);
    min-height: 100px;
    padding: 20px 7%;
    box-shadow: var(--sombra);
    

}

.logo {

    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 2rem;
    font-weight: 800;
    color:var(--color-secundario);
    letter-spacing: 3px;

}

/*Aplicar al primer hijo que es span de logo*/
.logo>span:first-child {

    background: linear-gradient(90deg, var(--color-secundario), var(--color-grad2));

    background-clip: text;
    color: transparent;

    text-shadow: var(--sombra);


}




.icono {

    font-size: 45px;
    color: var(--color-secundario)
}


/*HACER NAVBAR*/




.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 60px 20px;
    text-align: center;
    background-color: linear-gradient(rgba(16, 46, 74, 0.85), rgba(16, 46, 74, 0.95));
}


.contenidoHero {

    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;


}


.icono-grande {

    font-size: 70px;
    color: var(--color-secundario);
    margin-bottom: 20px;


}



.hero h1 {

font-family: "Playfair Display", serif;
font-size: clamp(3rem,8vw, 7rem);
font-weight: 700;
letter-spacing: 8px;

background: linear-gradient(90deg, var(--color-secundario), var(--color-grad2), #8789C0);
background-clip: text;
color: transparent;

text-shadow: var(--sombra);
}


.titulillo {

    margin-top: 15px;
    color: white;
    font-family: "Playfair Display", serif; 
    font-size: clamp(1.3rem, 3vw, 2rem);
    font-style: italic;

}


.descripcion {

    max-width: 600px;
    margin: 20px 0 30px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.7;


}



.botonCarta {

    display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: var(--color-secundario);
    color: white;
    text-decoration: none;
    font-weight: 700;
    box-shadow: var(--sombra);

    
}