

/* Variables de colores para usar tema claro */

:root {
    /*Colores RGB*/
  --color-principal: rgb(16, 46, 74);
  --color-secundario: rgb(247, 37, 133);
  --color-verdegris: rgb(137, 168, 148);


  /*RGB pero ahora con transparencia*/
  --color-blancotransparente: rgba(255,255,255, 0.15);
  --color-negrotransparente: rgba(0,0,0,0.15);

  /*Colores con OKLCH*/
  --color-fondo: oklch(98% 0.01 90);
  --color-fondo2: oklch(94% 0.02 90);
  --color-textos: oklch(25% 0.04 250);
  --color-blanco: oklch(100% 0 0);

  /*EXTRAS*/

  --sombra: 0 8px 25xp rgba(0,0,0,0.15);
  --radio: 15px;

}


* {

padding: 0px;
margin: 0px;
box-sizing: border-box;
}


body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
}





/* Dar formato base a la web, como un reset */

.cabecera {

    width: 100%;
    background-color: #102E4A;
    min-height: 120px;
    align-items: center;
    justify-content: space-around;
    padding: 20px 7%;
    

}

.logo {

    font-size: 2rem;
    font-weight: 650;
    color:#F72585;
    letter-spacing: 3px;

}

#icono {

    height: 50px;
    width: 50px;

}

.horario thead tr th {
    font-weight: 600;
    font-size: 3rem;
}

.horario tbody tr td {
    font-weight: 400;
    font-size: 1rem;
    padding: 5px 0px;
}   

